body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f3151;
}

.quiz-container {
    text-align: center;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.quiz-button {
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}